<form>
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre" />
    <small id="nombreHelp" class="form-text text-muted"
      >debe ingreser un nombre para el módulo
    </small>
  </div>
  <div class="form-group">
    <label>Logo</label>
    <input type="text" class="form-control" placeholder="Ingrese el logo" />
    <small id="logoHelp" class="form-text text-muted"
      >debe ingreser un logo para el módulo
    </small>
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <input
      type="text"
      class="form-control"
      placeholder="Ingrese la Descripción"
    />
    <small id="descripcionHelp" class="form-text text-muted"
      >debe ingreser la descripción para el módulo
    </small>
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
